allure-pytest==2.8.19
allure-python-commons==2.8.19
async-generator==1.10
attrs==20.3.0
certifi==2020.11.8
cffi==1.14.3
chardet==3.0.4
cryptography==3.2.1
h11==0.11.0
idna==2.10
iniconfig==1.1.1
ipaddress==1.0.23
multidict==5.0.0
outcome==1.0.1
packaging==20.4
pluggy==0.13.1
py==1.9.0
pycparser==2.20
pyOpenSSL==19.1.0
pyparsing==2.4.7
pytest==6.1.2
requests==2.25.0
selenium==4.0.0a7
six==1.15.0
sniffio==1.2.0
sortedcontainers==2.3.0
toml==0.10.2
trio==0.17.0
trio-websocket==0.8.1
urllib3==1.26.2
wsaccel==0.6.2
wsproto==0.14.1
yarl==1.6.2
